<div class="container-aboutus">
    <div class="rodrigo">
        <div class="img-rod">
            <img src="/images/rodrigo.jpeg">

        </div>
        <br>
        <div class="sidebar-box">
            <h3>Rodrigo Ley</h3>
            <p>
                <strong>Before Ironhack</strong>
                <br> Rodrigo has a Bachelor's Degree in Civil Engineering and has spent 2.5 years working as a Civil Engineer
                in a US governmental transportation agency. He has also spent several months before starting Ironhack self-studying
                coding and various CS topics while managing a restaurant part-time.
                <br>
                <strong>Desired role after the bootcamp</strong>
                <br> Rodrigo has a great love for new experiences and learning opportunities both professionally and culturally.
                His ideal role would include a mix of working in a team and individually along with a chance for self-initiative
                and also steady guidance. With that in mind, he hopes for a Web Developer position in France or abroad where
                he can learn but also leave his own impact.
                <br>
                <strong>Competencies</strong>
                <br> A strong science, math and learner’s background. As a professional he has experience in providing customer
                service, quality control, testing, following specifications, working alone and in a team. In Computer Science,
                he has learned about algorithm design, computer networking and computer hardware to bolster what he learned
                at Ironhack. Additionally, he is a native Spanish and English speaker.
                <br>
                <strong>Desired industry</strong>
                <br> He has a strong interest in environmental protection, privacy protection,civic activism, and open source
                software. One of his career goals is to work for an organization, be it an NGO, charity or business that
                contributes to any of these fields. To start his web dev career though he has much to contribute to any organization
                or business as a learner and applying what he learned.
                <br>
            </p>
            <p class="read-more">
                <a href="#" class="button">Read More</a>
            </p>
        </div>

    </div>

    <div class="leo">
        <div class="img-leo">
            <img src="/images/leo.jpeg">

        </div>
        <br>
        <div class="sidebar-box1">
            <h3>Leo Punsola</h3>
            <p>
                <strong>Before Ironhack</strong>
                <br> Leo grew up in both the United States and France and went on to study business administration in two of
                France’s greatest business establishments. Starting 2012, he worked as a business strategy and transformation
                project manager in the investment banking industry. There, he specialized in Lean methodologies and coaching.
                Organisational dynamics and team management are no longer a secret for him! At the end of 2015 he took a
                sharp turn and decided to find a challenge elsewhere, working as project control officer in the retail banking
                industry in the Fiji Islands. He learned about a wonderful culture, and upgraded his management skill set
                some more. This past year, as an expatriate in Mauritius, he started learning computer science and web development
                on his own. He also started a project in health & nutrition. He really enjoyed the intellectual stimulation
                and challenges inherent to programming and chose IRONHACK to make a change and start an exciting career in
                web development.
                <br>
                <strong>Desired role after the bootcamp</strong>
                <br> He is looking for a full stack web developer position both in France and abroad. Whether it be for the innovation
                branch/lab of a company or a startup. He really wishes to take the time to master the skills that make a
                developper and is determined to succeed in this goal. He is therefore looking for a company with which he
                can build a trusting relationship, based on open mindedness, personal and professional development.
                <br>
                <strong>Competencies</strong>
                <br> Due to his past experiences, he has acquired a business, strategic and organisational vision, which, paired
                with the technical skills he is currently learning, will allow him to contribute to exciting new projects.
                He believes that he can also bring an added value to your company by both developing and carrying out your
                vision, inside and outside of your company. At the end of the day, your job is really what you make of it!
                <br>
                <strong>Desired industry</strong>
                <br> He is open to all types of industries as long as he finds the project interesting and challenging. Preference
                for the health & wellbeing or education industry.
                <br>
            </p>
            <p class="read-more1">
                <a href="#" class="button">Read More</a>
            </p>
        </div>

    </div>

</div>