<h2>Contact Us</h2>

<form action="/process-message" method="POST">
    <label>
        Name:
        <input type="text" name="sender" placeholder="Name">
    </label>
    <br>
    <label>
        Email:
        <input type="text" name="senderEmail" placeholder="email@example.com">
    </label>
    <br>
    <label>
        Message:
        <textarea name="message" cols="30" rows="10" placeholder="Your comment here"></textarea>
    </label>
    <br>
    <button>Send Message</button>
</form>