<section class="hero is-link is-medium">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="logo-home" src="../images/vertical-white.png" alt="logo">
      <h2 class="subtitle">
        get involved. improve your city.
      </h2>
    </div>
  </div>

</section>