<h1>Add a post</h1>

<form action="/user/process-post" method="POST">
    <input type="text" name="title" placeholder="Title..">
    <br>
    <input type="text" name="description" placeholder="Description..">
    <br>
    <button>Publish This Post</button>
</form>