h1 {
  font: 3em "Lucida Grande", Helvetica, Arial, sans-serif;
  color: hsl(217, 71%, 53%);
}

h2 {
  color: lightgrey;
  font: 1.2em "Lucida Grande", Helvetica, Arial, sans-serif;
}

.politicians{
  color: black;
  font: 2em "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}