a {
  color: #00b7ff;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown {
  justify-content: space-around;
  flex: right;
}

.logo-home {
  width: 45vh;
  padding-left: 4vh;
}

.form-styling {
  margin-top: 10vh;
  margin-right: 30vh;
  margin-left: 10vh;
}
